exportPattern("^[[:alpha:]]+")
import(dplyr)
import(ggplot2)
import(tidyr)
import(lubridate)
import(ggforce)
import(ROracle)
import(PBSmapping)
import(doBy)
import(devEMF)
import(gridExtra)
import(lattice)
import(gstat)  
import(kableExtra)
import(webshot)